@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

*,
*:after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

:root {
  padding: 0;

  font-family: "Inknut Antiqua", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

body {
  color: white;
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(#313131, black);
  background-size: cover;
  background-position: center;
}
