@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

*,
*:after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

:root {
  padding: 0;

  width: 100vh;
  height: 100vw;

  font-family: "Inknut Antiqua", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(./assets/imgs/bg-img-01.webp);
  background-size: cover;
  background-position: center;
}